<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite"
           description=".NET Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="SqLiteDatabaseConn"
         connectionString="Data Source=C:\Users\Juliano\Documents\visual studio 2012\Projects\Amcom\Amcom.TesteWinForm\AmcomTeste.db;Pooling=true;FailIfMissing=false;Version=3" />
  </connectionStrings>
</configuration>